body {
  background: linear-gradient(to right, #F1AF60, #FFFFFF, #F1AF60);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-grid {
  background-color: #252628;
  margin-top: 64px;
  width: 300px;
  border-radius: 10px;;
}

.row {
  display: flex;
}
